# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.coverage

# Serverless directories
.serverless
node_modules/
.DS_Store

.terraform/
kubeconfig

creds/token.json

nasdaqlisted.txt
otherlisted.txt

db.sqlite3
stocks_airtable.json

nohup.out

billchucktown-static/*
suryaproperties-static/*

opszero/templates/people.opszero.com/_build/
yerracapital-static/
abhiyerra-static/